body
{
	margin: 0;
	padding: 0;
	background: url(../images/9.jpg);
	background-size: cover;
	font-family: Verdana;
	overflow-x: hidden;
	overflow-y: hidden;
}
nav 
{
  top:0;
  left:0;
  position: relative;
  width:100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}
nav.black
{
	background: rgba(0,0,0,0.3);
}

nav .logo
{
	float: left;
}
nav .logo img
{
	width: 85px;
	height: 85px;
	border-radius: 15%;
	overflow: hidden;
	position: absolute;
}
nav ul
{
	float: right;
	margin: 40px;
	padding: 0;
	display: flex;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	line-height: : 80px;
	color: #262626;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Georgia;
	font-size:18px;
	font-weight: bold;
	transition: 0.5s;
	border-radius: 8px;
}
nav ul li a.active-page,
nav ul li a:hover
{
	background-color: #00ffff;
	display:block;
	color:#fff;
}
nav ul li a:hover
{
	background-color: #00ffff;
	color:#fff;
}

.loginBox
{   margin-top: 65px;
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 545px;
	padding: 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	box-shadow: 0 10px 20px rgba(0,0,0,.5);
	border-radius: 8px;
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
.loginBox h2
{
	margin:  0;
	padding: 13px 0 20px;
	color: #fff;
	text-align: center;
	font-family: Georgia;
	font-weight: bold;
}
.loginBox .inputbox
{
position: relative;;
}

.loginBox input
{
	width: 100%;
	margin-bottom: 15px;
}
.loginBox .inputbox label
{  
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	padding: -10px 0px;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: 0.5s;
}
.loginBox .inputbox input:focus ~ label,
.loginBox .inputbox input:valid ~ label
{
	top: -18px;
	left: 0;
	color:#00FFFF;
	font-size: 15px;
}
.loginBox .inputbox input[type="text"],
.loginBox .inputbox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-size: 16px;
}
.loginBox input[type="submit"]
{   
	margin-top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #00ffff;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
