<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>About Fly High</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/aboutstyle.css') }}">
        <link rel="shortcut icon"  href="{{ url_for('static',filename='images/f.ico') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav class="black">
			<div class="logo">
				<img src="{{ url_for('static',filename='images/11.jpg') }}">
			</div>
			<ul>
			        <li><a href="/" >Home</a></li>
			        <li><a href="/about/" class='active-page'>About</a></li>
			        <li><a href="/signup/" >Sign Up</a></li>
			        <li><a href="/login/" >Login</a></li>
			</ul>
		</nav>
		<div class="Box">
		    <p>Few days ago in India a seed of an idea was planted, a dream was shared. Inception happened.
we look back at what we've built. Leave it up to us, and we'd love to do it all over again.
Here's our story</p>

<h4>What is Fly High?</h4>

<p>Fly High is a online flight booking system for all the flights in and around the nation.
It is secure and easy by this website.It was created by Pagals gang on 11th March,2018.
It provides exciting offers on various types of payment and unbeleivable cashback offers. 
</p>
<h4>Copyright Information:</h4>
<p>
	All pages and graphics on this web site are the property of the company.</p>
<p>
 Pages, code or other content from Fly High may not be redistributed or reproduced in any way, shape,
or form without the written permission of Pagals gang.</p>
<p>
Failure to do so is a violation of copyright laws.
</p>
		</div>
		<div class="rbox">
			<h3>Contact Information:</h3>
			<h4>Email:</h4>
			<p>naveenprolific123@gmail.com</p>
			<p>praveenkumaralajangi93@gmail.com</p>
			<h4>Mobile number:</h4>
			<p>9640741170,8897131619</p>
			<h5>Follow Us On:</h5>
			<ul>
				<li><a href="https://m.facebook.com/praveen.kumar.9393?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></i></a></li>
				<li><a href="https://twitter.com/naveen_locks" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.instagram.com/praveenkumar_alajangi/"><i class="fa fa-instagram"></i></i></a></li>
			</ul>
		</div>
	</body>
</html>
