<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Log Out</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/logout.css') }}">
        <link rel="shortcut icon"  href="{{ url_for('static',filename='images/f.ico') }}">
	</head>
	<body>
		</nav>
		<div class="loginBox">
			<h2>You are successfully logged out from Fly High!</h2>
			<li><a href="/">Click here to go to home page </a></li>
			<li><a href="/login/">Click here to Login</a></li>
		</div>
	</body>
</html>
